body{
  background-color: teal;
  text-align:center;
}
img {
  max-width: 100%;
}
body{
  font-family: sfont-family: 'Mansalva', cursive;
  font style: fantasy;
  font-style: italic;
  font color: white;
  text-transform: all capitalize;;
  letter-spacing: 1px;
  font-size: 18px;
}
