body {
  margin: 0;
  overflow-x: hidden;
}
#container {
  width: 120%;
  margin-left: -10%;
  margin-top: -50px;
}
.tile1, .tile2, .tile3, .tile4, .tile5 {
  float: left;
  opacity: .8;
}
.tile1 {
  width: 150px;
  height: 70px;
  border-radius: 100%;
  transform: rotateX(-45);
  background-color: #16ECB3;
}
.tile2 {
  width: 230px;
  height: 45px;
  margin: -67px;
  transform: rotate(46deg);
  background-color: #EC9616;
}
.tile3 {
  width: 150px;
  height: 59px;
  margin: 100px 0 0 100px;
  transform: rotate(37deg);
  background-color: #16CFEC;
}
