body {
  color: white;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Bangers', cursive;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 50px;
  background-color: black;
  color; white
  text-transform: center
}
.video{
  max-width: 100%;


}
#video{
 display: none;
}
