body {
  color: white;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Bangers', cursive;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 50px;
  background-color: black;
  color; white
  text-transform: center

}
#video{
 display:none;
 position: absolute;
 padding-top: 250px;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
}
