body{
  font-size: 16px;
  font-style:normal;
  background-color: white;
  text-align:center;
}
#container {
  width: 1440px;
  height:800px;
  margin: 100px, auto;
  background-color: red;
}


}
.intro {
  font color: black;
  font font-family: 'Playfair Display';
  font-size: 14px;
  font-style: normal;
}
.h1{
  font-size: 30px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;
}
.h2{
  font-size: 22px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;
}
.h3{
  font-size: 18px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;;
}
.sectionheader{
  font-size: 18px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;
}
.recipie{
  font-size: 18px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;
  background-color: grey;
}
.recipiebodytext{
  font color: black;
  font font-family: 'Playfair Display';
  font-size: 14px;
  font-style: normal;
  text-align: right;
  background-color: white;
}
p{
  font color: black;
  font font-family: 'Playfair Display';
  font-size: 14px;
  font-style: normal;
}
img {
  max-width: 100%;
