body{
  font-size: 14px;
  font-style:normal;
  background-color: white;
  text-align:center;
}
#container {
  width: 1440px;
  height: auto;
  margin: 100px, auto;
  background-color: white;
  font-size: 40px;
  font-weight: bold;
  font color: black;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  line-height: 1.5;
}

.leftcolumn {
  float: left;
  width: 50%;
  height: 900px;
  background-color: white;

}
.rightcolumn {
text-align: center;
  font-size: 80px;
  float: left;
  width: 50%;
  height: 900px;
  background-color: white;
  line-height: 1.5;



}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.empty{
  width: 100%;
  background-color: white;
  float: left;
  background-color: white;

}

}
.empty2{
  width: 100%;
  background-color: white;
  float:left;

}
.intro {
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-size: 22px;
  font-style: normal;
}
h1{
  margin-top: 100px;
  font-size: 7vw;
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  line-height: 1.5

}

h2{
  font-size: 7vw;
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  text-align: center;
}
h3{
  font-size: 50px;
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-weight:normal;
}
h4 {
  font-size: 35px;
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  text-align: center;
}

h5{
  font-size: 50px;
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  line-height: 150px;

}

h6{
  font-size: 15px;
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  margin-top: 50px;
  line-height: 0.1px;
}

h7{
  font-size: 7vw;
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  line-height: 1.5;
}
.sectionheader{
  font-size: 18px;
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;

}
.recipe{
  width: 100%;
  margin: 10px;
  font-size: 50px;
  text-align: center;
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  background-color: grey;
}
.recipebodytext{
  font color: black;
  margin: 10px;
  font font-family: 'Playfair Display';
  font-size: 18px;
  font-style: normal;
  text-align: center;
  max-width: 75%;
  padding-left: 10%;
}
.temps
{
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-size: 16px;
  font-style: normal;
  margin: 20px;
  padding-top: 25px;
}


.ribeyeleft {
  float: left;
  width: 50%;
  height: 300px;
  background-color: white;

}
.ribeyeright {
  float: left;
  width: 50%;
  height: 300px;
  background-color: white;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.tboneleft {
  float: left;
  width: 50%;
  height: 300px;
  background-color: white;

}
.tboneright {
  float: left;
  width: 50%;
  height: 300px;
  background-color: white;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.stripsteakleft {
  float: left;
  width: 50%;
  height: 300px;
  background-color: white;

}
.stripsteakright {
  float: left;
  width: 50%;
  height: 300px;
  background-color: white;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.video {
  max-width: 100%;
  text-align: center;
}
p{
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-size: 14px;
  font-style: normal;
  margin: 20px;
  padding-top: 25px;
}
img {
  max-height: 850px;
}

@media only screen and (max-width: 1400px)
 {
   body{background-color: white;
   font-size: 18px;
 }
 h1{
   font-size: 7vw;
   font color: black;
   font-family: 'Rock Salt', cursive;
   font-weight: bold;

   }
   .rightcolumn {
     float: left;
     text-align: center;
     font-size: 15px;
     width: 50%;
     height: 900px;
     background-color: white;

}
@media only screen and (max-width: 1394px)
{

  body{background-color: white;
  font-size: 18px;
}
h1, h2, h7{
  font-size: 7vw;
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;

  }
  .rightcolumn {
    float: left;
    text-align: center;
    font-size: 15px;
    width: 50%;
    height: 900px;
    background-color: white;
h1{
  font-size: 7vw;
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
}
h7{
  font-size: 7vw;
  font color: black;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  line-height: 1.5
}

  .leftcolumn {
    float: right;
    width: 25%;
    height: 250px;
    background-color: white;
  }
  img .leftcolumn{
    max-width: 100%

    height: 150px;
  }
  .rightcolumn {
  text-align: center;
    font-size: 15px;
    float: left;
    width: 50%;
    height: 900px;
    background-color: white;

}@media only screen and (max-width: 1400px)



}
{@media only screen and (max-width: 768px)
 {
   body{background-color: white;
   font-size: 20px;
 }
 @media only screen and (max-width: 500px)
  {
    body{background-color: white;
    font-size: 22px;
}
