@keyframes slider {

0%{
  left:0;
}

20%{
  left:0;
}

25%{
  left: -100%;
}

45%{
  left:-100%;
}
50%{
  left:-200%;
}
70% {
  left:-200%:

}
75% {
  left:-300%;
}
95% {
  left: -400%;

}

100%{
  left:-400%;
}
}

#slider {
  overflow: hidden;
}
#slider figure img{
  width: 20%;
  float: left;
}

#slider figure {
  position: relative;
  width: 150%;
  margin: 10px;
  left: 0:
  text-align: left;
  font-size: 0;
  animation: 20s slider infinate;

}

body{
  font-size: 16px;
  font-style:normal;
  background-color: white;
  text-align:center;
}
#container {
  width: 1440px;
  height: auto;
  margin: 100px, auto;
  background-color: green;
  font-size: 80px;
  font-weight: bold;
  font color: black;
  text-align: center;
}

.leftcolumn {
  float: left;
  width: 50%;
  height: 900px;
  background-color: red;

}
.rightcolumn {
  float: left;
  width: 50%;
  height: 900px;
  background-color: blue;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.empty{
  width: 100%;
  background-color: teal;
  float: left;
}
.empty2{
  width: 100%;
  background-color: orange;
  float:left;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}



}
.intro {
  font color: black;
  font font-family: 'Playfair Display';
  font-size: 14px;
  font-style: normal;
}

.h4 {
  font-size: 120px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;
  text-align: center;
}
.h1{
  font-size: 30px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;
}
.h2{
  font-size: 16px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;
  text-align: center;
}
.h3{
  font-size: 18px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;;
}
.h5{
  font-size: 18px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;
  padding-top: 150px;
  line-height: 0.1px;

}
.h6{
  font-size: 18px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;
  padding-top: 150px;
  line-height: 0.1px;
}
.h7{
  font-size: 18px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;
  padding-top: 150px;
  line-height: 0.1px;
}
.h8{
  font-size: 18px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;
  padding-top: 150px;
  line-height: 0.1px;
}



.sectionheader{
  font-size: 18px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;

}
.recipie{
  font-size: 18px;
  font color: black;
  font font-family: 'Playfair Display';
  font-weight: bold;
  background-color: grey;
}
.recipiebodytext{
  font color: black;
  font font-family: 'Playfair Display';
  font-size: 14px;
  font-style: normal;
  text-align: right;
  background-color: white;
}
p{
  font color: black;
  font font-family: 'Playfair Display';
  font-size: 14px;
  font-style: normal;
}
img {
  max-height: 850px;
}

  @media only screen and (max-width: 1400px)
 {
   body{background-color: orange;
   font-size: 18px;
}
   @media only screen and (max-width: 1400px)
    {
      body{background-color: white;
      font-size: 18px;}
@media only screen and (max-width: 768px)
 {
   body{background-color:white;
   font-size: 18px;
 }
 @media only screen and (max-width: 500px)
  {
    body{background-color: white;
    font-size: 20px;
}
}
