body
        {
            margin: 0;
            padding: 0;
            background: url("../img/rainorshine.png") no-repeat;
            background-size: cover;
        }

      #container{
      }
        .rain
        {
            height: 100vh;
            background: url(https://s26.postimg.cc/69dgxh6y1/rain.png);
            animation: raining 0.3s linear infinite;
        }
        .rain:after
        {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;
            animation: lightening 2s linear infinite;
            opacity: 0;
        }

        h1 {
	position: absolute;
	left: 18%;
	bottom: 74%;
	font-family: 'Eater', cursive;
	font-size: 6.5vw;
	color: #D56F35;
	@include animation(flicker 4s 0s infinite);


        }

        .top-left {
        color: #D56F35;
        position: absolute;
        bottom: 8px;
        right: 16px;
        font-family: 'Eater', cursive;
        font-weight: 100;
        text-align: center;
        margin:-2px;
        font-size: 5vw;
        line-height: 135px;
        letter-spacing:2px;}

        .bottom-right {
          color: #D56F35;
          position: absolute;
          bottom: 8px;
          right: 4%;
          font-family: 'Eater', cursive;
          font-weight: 100;
          text-align: center;
          margin:-2px;
          font-size: 5vw;
          line-height: 135px;
          letter-spacing:2px;
          padding-bottom: 3%;
}


        @keyframes raining
        {
            0%
            {
                background-position: 0% 0%;
            }
            100%
            {
                background-position: 12% 100%;
            }
        }
        @keyframes lightening
        {
            0%
            {
                opacity: 0;
            }
            10%
            {
                opacity: 0;
            }
            11%
            {
                opacity: 1;
            }
            14%
            {
                opacity: 0;
            }
            20%
            {
                opacity: 0;
            }
            21%
            {
                opacity: 1;
            }
            24%
            {
                opacity: 0;
            }
            104%
            {
                opacity: 1;
            }



        }
        .creepy {
            position: absolute;
            display: inline-block;
            top: 6%;
            left: 10%;}
            animation: swing 2s infinite;
            transform-origin: top;

        .creepy {
            width: 5px;
            height: 400px;
            margin-left: 49px;
            background: purple);
        }

        .creepy .body {
            width: 100px;
            height: 80px;
            background: purple;
            position: relative;
            border-radius: 50%;
        }

        .creepy .body .eye {
            width: 33px;
            height: 33px;
            position: absolute;
            bottom: 20px;
            background: #fff;
            border-radius: 50%;
        }

        .creepy .body .eye.left {
            left: 15px;
        }

         .creepy .body .eye.right {
            right: 15px;
        }

        .creepy .body .eye:after {
            background: #000;
            width: 7px;
            height: 7px;
            content: '';
            display: block;
            margin: 55%;
            border-radius: 50%;
            animation: look 8s infinite;
        }

        .creepy2 {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 2200%}
            animation: swing 2s infinite;
            transform-origin: top;

        .creepy2 {
            width: 5px;
            height: 400px;
            margin-left: 49px;
            background: purple);
        }

        .creepy2 .body {
            width: 100px;
            height: 80px;
            background: green;
            position: relative;
            border-radius: 50%;
        }

        .creepy2 .body .eye {
            width: 33px;
            height: 33px;
            position: absolute;
            bottom: 20px;
            background: #fff;
            border-radius: 50%;
        }

        .creepy2 .body .eye.left {
            left: 15px;
        }

         .creepy2 .body .eye.right {
            right: 15px;
        }

        .creepy2 .body .eye:after {
            background: #000;
            width: 7px;
            height: 7px;
            content: '';
            display: block;
            margin: 55%;
            border-radius: 50%;
            animation: look 8s infinite;
        }






        @keyframes look {
            0%, 40%, 100% {
                transform: translateX(0);
            }

            45%, 95% {
                transform: translateX(-110%);
            }
        }

        @keyframes swing {
            0%, 100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-20px);
            }
