  body{background-color: #333333;
}
#board {
  width: 800px;
}
.red{
  width: 100px;
  height: 100px;
  background-color: crimson;
  float:left;
}
.white{
  width: 100px;
  height: 100px;
  background-color: white;
  float: left;
}
