body {
margin: 0;
}
img {
width: 100%;
}

#container {

}
.black {
background-color: black;
color: white;
text-align: center;
padding: 100px 0;
}
.text {
width:  auto;
margin: 25px;
}



h1 {
font-family: 'Playfair Display', serif;;
font-weight: 500;
text-transform: uppercase;
margin: 0;
font-size: 38vw;
line-height: 300px;
letter-spacing:2px;
;
}
h2 {
font-family: 'Playfair Display', serif;;
font-weight: 500;
text-transform: uppercase;
margin: 0;
font-size: 38vw;
line-height: 275px;
letter-spacing:2px;
;
}
h3 {
font-family: 'Playfair Display', serif;;
font-weight: 500;
text-transform: uppercase;
margin: 0;
font-size: 15vw;
line-height: 175px;
}
h4 {
font-family: 'Playfair Display', sans-serif;
font-weight: 700;
font-size: 40px;
letter-spacing: 2px;
text-align: left;
}
p {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: left;
}
