body {
  background-color: #0E0440;
  color: white;
  text-align: center;
  font-family: serif;
  font: Gidugu
  font-style: italic;
  letter-spacing: 1px;
  font-size: 18px;
  background-color: white
  font currentColor; white
  text-transform: center
}
id= guy{
  color: white;
  text-align: center;
  font-family: serif;
  font: Gidugu
  font-style: italic;
  letter-spacing: 3px;
  font-size: 25px:
  background-color: white
  font currentColor; white
  text-transform: capitalize;
}
