body{
  background-color: #navy;
  text-align:center;
}
img {
  max-width: 100%;
}
body {
  font-family: serif;
  font: Gidugu
  font-style: italic;;
  text-transform: all capitalize;;
  letter-spacing: 1px;
  font-size: 18px;
}
a,{
  color: white;
  text decoration: currentColor;white;
}
a:hover{
  color: black
  border bottom: 10px solid black
}
