/*font-family: 'Indie Flower', cursive;
font-family: 'Amatic SC', cursive;*/
.clearfix:after{
content:"";
display: table;
clear: both;
}

html{
  font-size: 16px;
}
body{
  margin: 0;
}
#header {
  width: 100%;
  height: 90vh;
  background-color: #cccccc;
  background: url(../maisyimages/Screen Shot 2020-04-29 at 4.06.16 PM) no-repeat center center fixed;
  background-size: cover;

}
.text {
  width: 45vw;
  margin: 50px auto;
}
h1 {
  margin:0;
  font-family: 'Indie Flower', cursive;
  font-size: 4.4em;
  font-weight: 300;
  letter-spacing: .2px;
  text-align: center;
}
p {
  font-family: font-family: 'Amatic SC', cursive;
  line-height: 1.5em;
}
.text .intro {
  font-family: font-family: 'Amatic SC', cursive
  font-size: 20px;
  font-weight:bold;

}
.text img{
  max-width:100%;
  margin: 20px auto;
}

.iim {
  width: 80%;
  margin: 50px auto;
}

.iim img{
    max-width: 50%;
    float: left;
    margin: 0 50px 25px 0;
}

img.full {
  max-width: 100%;
  margin: 25px 0 0 0;
}
img.half {
  max-width: calc(50%-5px)
  float: left;
  margin: 10px 10
}
img.right-10px {
  margin-right: 10px;
}



}
