body {
margin: 0;
background-color: black;
color: white;
}
img {
width: 100%;
}
#container {

}
.blue {
background-color: #2D3766
color: white;
text-align: left;
text-transform: 90;
padding: 100px 0;
}
.text {
width:  auto;
margin: 25px;
}



h1 {
font-family: 'Playfair Display', serif;;
font-weight: 500;
text-transform: uppercase;
text-align: right;
margin: 0;
font-size: 10vw;
line-height: 1px;
letter-spacing:2.5px;
;
}
h2 {
font-family: 'Playfair Display', serif;;
font-weight: 500;
text-align: right;
margin: 0;
font-size: 5vw;
line-height: 135px;
letter-spacing:2px;
;
}

p {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  font- color: white;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: left;
}
