body {
margin: 0;
background-color: #2D3766;
color: white;
}
img {
width: 100%;
}
#container {

}
.blue {
background-color: #2D3766
color: white;
text-align: left;
text-transform: 90;
padding: 100px 0;
}
.text {
width:  auto;
margin: 50px;
}



h1 {
font-family: 'Playfair Display', serif;;
font-weight: 300;
text-transform: uppercase;
text-align: right;
margin: 12px;
font-size: 10vw;
line-height: 1px;
letter-spacing:2.5px;
;
}
h2 {
font-family: 'Playfair Display', serif;;
font-weight: 100;
text-align: right;
margin:0px;
font-size: 5vw;
line-height: 135px;
letter-spacing:2px;
;
}

p {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 150;
  font- color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: left;
}
