body{background-color: white;
box-sizing: border-box;}
<header></header>
<nav></nav>

#columngrid{
  width: 800px;
}
.header{
  width: 800px;
  height:100px;
  margin: 10px 0;
  background-color: red;
}
.nav{
width: 800px;
height: 50px;
background-color: red;
margin:10px 0;
}
.marginright{
  margin-right: 10px;
}
.column{
  width: calc(780px/3);
  height:1000px;
  background-color:red;
  margin: 10px, 5px,0px;;
  float: left;
}
.footer{
  /*margin-right:1000px;*/
  width:800px;
  height:100px;
  background-color: red;
  clear: both;
}
