* {
  box-sizing: border-box;
}

body {background-color: yellow;
  margin: 0;
}
#randomshape{
  background-color: white;
  width: 400px;
  /*height: 600px;*/
  margin: auto;
}
.box1, .box2, .box3, .box4, .box5 {
  float:left;
  border: 5px solid white;
}
.box1{
background-color: teal;
width: 100px;
height: 200px;
}
.box2{
  background-color: black;
  width: 100px;
  height: 100px;

}
.box3{
background-color: silver;
width: 200px;
height: 100px;
}
.box4{
background-color: green;
width: 100px;
height: 400px;
}
.box5{
background-color: pink;
width: 200px;
height: 400px;
}

#leftside{
  width:100px;
  float: left;
}
